<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IconDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B5F7BC11EBF7D8D00E8546A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5F7BDD1EBF89EB00E8546A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5F7BE51EBF89EC00E8546A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C6A7261DD4391B00A6FBF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
